# Node.js dependencies
node_modules/
npm-debug.log

# Environment variables
.env

# Docker files (optional)
docker-compose.override.yml

# Logs
logs/
*.log

# IDE / Editor files
.vscode/
.idea/

# Kubernetes backup/temp files
*.yaml~
